#planos{
  padding: 0 0 0px;
  min-height: 100vh;
}

.title-planos {
  color: #003767;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.card-planos {
  border: 3px solid #ec7000;
  border-radius: 20px;
  width: calc(50% - 10px);
  margin: 0 auto 10px 0;
  padding: 20px;
  box-shadow: 2px 2px 8px rgb(236 112 0 / 33%);
}

.mat-toolbar.mat-primary {
  background: #ec7000;
}

.form-planos {
  background: rgba(0, 0, 0, 0.05);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 20px 15px 40px rgb(0 0 0 / 30%);
  border: 0.1px solid rgba(0, 0, 0, 0.05);
}


select{
  border: 1px solid rgba(0, 0, 0, 0.2);

}
