.mat-toolbar.mat-primary {
  background: #ec7000;
}

#selfie {
  padding: 0 0 50px;
}

.box-selfie {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 12px 14px 24px rgb(0 0 0 / 20%);
}

.img-selfie {
  background: #fff;
  width: 180px;
  margin: 30px auto 20px;
  display: block;
}

p {
  font-weight: bold;
}

input,
button {
  border: 1px solid black;
}

@media screen and (max-width: 800px) {
  .box-selfie {
    width: 90%;
  }

  .input-group {
    flex-direction: column;
  }

  input[type="file"] {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .img-selfie {
    width: 150px;
    margin: 0 auto 20px;
  }

  p{font-weight: bold;font-size: 14px;}
}
