<div id="selfie">
  <mat-toolbar color="primary" class="mb-5">
    <img
      class="img-itau"
      src="../assets/images/logo-itau-varejo-desktop.webp"
      alt="Logo Itaú"
    />
    <span>Carregue e envie uma foto de selfie</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <img src="../../assets/images/selfie1.png" alt="" class="img-selfie">
  <div class="container box-selfie" >
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        (change)="onFileSelected($event)"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="inputGroupFileAddon04"
        (click)="onUpload()"
        [disabled]="!urlImagem"
      >
        Enviar
      </button>
    </div>
    <div *ngIf="urlImagem">
      <a class="btn btn-primary mb-3" [href]="urlImagem" role="button"
        >Baixar Imagem</a
      >
      <p>URL: {{ urlImagem }}</p>
    </div>
    <button
    type="button"
    class="btn btn-danger mb-3"
    style="margin: 20px 0 0 auto; display: block"
    (click)="goBackPage()"
  >
    Voltar
  </button>
  </div>
</div>
