.mat-toolbar.mat-primary {
  background: #ec7000;
}

#selfie {
}

.box-selfie {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 12px 14px 24px rgb(0 0 0 / 20%);
}

.img-selfie {
  background: #fff;
  width: 180px;
  margin: 30px auto 20px;
  display: block;
}

p {
  font-weight: bold;
}
