.sub-title {
  color: #003767;
  font-size: 25px;
  margin-bottom: 30px;
}

.title {
  color: #003767;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.mat-toolbar.mat-primary {
  background: #ec7000;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #003767;
}

.example-full-width {
  width: 100%;
}

.img-itau {
  width: 35px;
  margin-right: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1400px) {
}
