#infos {
  padding: 0 0 50px;
}

h1{
  color: #003767;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1.5;
}

label {
  color: #003767;
  font-weight: 500;
  font-size: 18px;
}


input {
  height: 50px;
}

button{
  height: 45px;
}

.wrap-dados {
  background: rgba(0, 0, 0, 0.05);
  padding: 50px 70px;
  border-radius: 20px;
  box-shadow: 15px 15px 100px rgb(0, 0, 0, 0.3);
  border: 0.5px solid rgba(0, 0, 0, 0.05);
}

.mat-toolbar.mat-primary {
  background: #ec7000;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .col {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .btn-primary, .btn-secondary {
    width: 100%;
    margin: 0;
  }

  button{margin-right: 0;}

  h1{font-size: 25px;}

  .wrap-dados{
    padding: 25px;
  }
}
