#infos {
  padding: 0 0 50px;
}

.wrap-dados {
  background: rgba(0, 0, 0, 0.05);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 15px 15px 100px rgb(0, 0, 0, 0.3);
  border: 0.5px solid rgba(0, 0, 0, 0.05);
}

.mat-toolbar.mat-primary {
  background: #ec7000;
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
  .col {
    width: 100%;
  }

  .row {
    flex-direction: column;
  }

  .btn-primary, .btn-secondary {
    width: 100%;
    margin: 0;
  }

  button{margin-right: 0;}
}
