<div class="dashboard" style='background: url("../../assets/images/agencia-itau.jpg");   background-size: cover;'>
  <mat-toolbar color="primary">
    <img
      class="img-itau"
      src="../assets/images/logo-itau-varejo-desktop.webp"
      alt="Logo Itaú"
    />
    <span>Bem-vindo ao maior banco da américa latina.</span>
    <i class="bi bi-emoji-smile-fill"></i>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="container">
    <h1>
      Obrigado por nos escolher para fazer parte da sua vida financeira.
    </h1>
  </div>
</div>
